@media screen and (max-width: 1400px ) {
  #profile {
    height: 63vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact{
    height: 80vh;
  }
  .contact-info-upper-container{
    width: 50vw;
  }
  .form-btn{
    margin-top: 10px;
    height: 6vh;
  }
  #projects {
    margin-top: 100px;
    height: fit-content;
  }
  footer{
    height: 16vh;
    background-color: rgb(245, 240, 240);
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile{
    height: 40vh;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #contact{
    margin-top: 5px;
    height: 73vh;
  }

  #hamburger-nav{
    background-color: whitesmoke;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh !important;
  }
  #profile {
    height: 63vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  #contact{
    margin-top: 150px;
  }
  .contact-info-upper-container {
    width: 70vw;
}
  .contact-form{
    width: 80vw !important;
  }

  footer{
    background-color: whitesmoke;
    height: 20vh !important;
    margin-top: 200px;
  }

  #hamburger-nav{
    background-color: whitesmoke;
  }
}
